

/******************************************************************************
* Radix UI custom
******************************************************************************/

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;

  --text-color: var(--gray-12);
  --tooltip-text-color: var(--accent-6);
}

.text-color {
  color: var(--text-color);  
}

/* Ghost Icon buttons  */
.radix-themes .rt-variant-ghost.rt-IconButton {
  color: var(--text-color);
}

.radix-themes .rt-variant-ghost.rt-SelectTrigger * {
  color: var(--text-color);
}

/******************************************************************************
* Commons
******************************************************************************/

.hidden {
  display: none;
}

/******************************************************************************
* Sections or custom components
******************************************************************************/

/* Sidebar / selected page */
.radix-themes.dark .selected-page--card {
  background-color: var(--color-background);
  box-shadow: 0 0 2px 0 color-mix(in oklab, var(--accent-a5), var(--accent-5) 25%);
}

.radix-themes.dark .selected-page--card::before, .selected-page--card::after {
  content: none;
}

/******************************************************************************
* Selected page
/*****************************************************************************/

.radix-themes .selected-page {
  animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.radix-themes .selected-page--hidden {
  animation: slide-out-blurred-left 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

/******************************************************************************
* Resizable side
/*****************************************************************************/

.radix-themes .resizable-side__transition {
  transition: 
    max-width 0.5s, 
    max-height 0.5s,
    min-width 0.5s, 
    min-height 0.5s,
    width 0.5s, 
    height 0.5s;
}

/******************************************************************************
* Text editor
/*****************************************************************************/

.radix-themes .text-editor__select .rt-SelectTriggerInner {
  opacity: 1.0;
}

.radix-themes .text-editor__button--checked {
  background-color: var(--accent-a3);
  outline: 1px solid var(--accent-6);
}

.radix-themes .text-editor__button--disabled {
  color: var(--gray-8) !important;
}

/******************************************************************************
* Quill
******************************************************************************/

.ql-editor {
  height: 100%;
  width: 100%;
  padding: var(--space-1) var(--space-2);
}


.ql-editor:focus-visible {
  background-color: transparent;
  outline: none;
}
/******************************************************************************
* Animista resources
******************************************************************************/

/* ----------------------------------------------
 * Generated by Animista on 2024-6-16 15:28:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
    padding: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-16 15:31:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-blurred-left
 * ----------------------------------------
 */
@keyframes slide-out-blurred-left {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px) scaleX(2) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
    padding: 0;
  }
}
